<div>
  <h2>Create New Post Here</h2>
</div>

<form class="new-blogpost-form">
  <label>Title:</label>
  <input type="text" name="title" />

  <label >Text Content:</label>
  <input type="text" name="content" />

  <button type="submit">Create</button>
</form>