{{!-- <div class="newPostBtn">
  <input class="btn btn-primary" type="submit" id="create" value="Submit New Post">
</div> --}}
<button type="submit" class="btn" id="createBlogpost">Create New Post </button>

{{#if blogposts.length}}
<div class="card">
  <div class="card-body">
    <h2>Dashboard:</h2>
    <ul class="post">
      {{#each blogposts as |blogpost|}}
      <li>
        <a href="/dashboard/edit/{{blogpost.id}}">Edit</a>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/if}}
</div>

<script src="/js/createBlogpost.js"/>