<div class="newPostBtn">
  <input class="btn btn-primary" type="submit" value="Submit New Post">
</div>

<div class="card">
  <div class="card-body">
    <h2>Dashboard</h2>
    This is some text within a card body.
  </div>
</div>