{{> blogpost-info blogpost}}

{{#if loggedIn}}
<form class="edit-blogpost-form">
  <textarea value="Add your comment here" name="comment-body"></textarea>

  <button type="submit">Submit</button>
</form>

<script src="/js/addComment.js"></script>